<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogTheDay</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link  rel="stylesheet" type="text/css" href="/stylesheet/app.css">
</head>
<body>
  <div class="ui fixed inverted menu">
      <div class="ui container">
          <div class="header item"><a href="/"><i class="envelope open outline icon"></i>BlogTheDay</a></div>
          <div class="ui tabular menu">
            <a href="/" class="item ">
              Blogs
            </a>
            <a href="/blogs/new" class="item">
              New Blogs
            </a> 
            <% if(!currentUser) { %>
            <a href="/blogs/login" class="item" >Login </a> 
            <a href="/blogs/register" class="item" >SignUp </a>
            <% } else { %>
            <li><a href="#">HEllO<%= currentUser.name %></a></li>
            <a href="/blogs/logout" class="item" >Logout </a>  
             <% } %>    
            </div>
          </div>
      </div>
  </div>    
